legend {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
label{
  font-family: "Roboto", sans-serif;
  display:block;
  width:auto;
  height:100%;
  padding:10px;
  cursor:pointer;
  overflow:hidden;
}
[ for='hours']{
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
[ for='months']{
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
[ for='age']{
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
/*site background*/
body {
    background-image: url("cactus2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity:1;
    margin-right:200px;
}
footer p{
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  text-align:center;
  margin-right:5px;
}

#hi {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}

a{
  color: ##505649;
}
a:visited{
  color: ##505649; /*FIX ME*/
}
/*STYLING TEXT FORMS*/
input[type=text] {
  font-family: "Roboto",sans-serif;
  font-size:16px;
  display:block;
  background-color:rgba(0,0,0,0);
  border-style:solid;
  border-color: rgba(0,0,0,0.6);
  border-width:0.2px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
  border-radius: 4px;
  margin:10px;
  padding:10px;
  width:90%;
}

input[type=text]::placeholder{
  font-family: "Roboto",sans-serif;
  font-size:16px;
}

fieldset {
  margin-top:30px;
  margin-bottom:30px;
}

div{
color: rgb(0, 0, 0);
box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
border-radius: 4px;
margin:10px;
padding:0px;
width:90%;
}


/*hide checkers*/
[type=radio] {
position: absolute;
opacity: 0;
height: 0;
width: 0;}
[type=checkbox] {
position: absolute;
opacity: 0;
height: 0;
width: 0;}

input[type=checkbox]:checked + label {
   background-color: rgba(0, 0, 0, 0.1);
}
input[type=radio]:checked + label {
   background-color: rgba(0, 0, 0, 0.1);
}
